@import "./GlibalStyles.scss/Variabls";
@import "./GlibalStyles.scss/Mixin";
@import "./GlibalStyles.scss/colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all .4s ease-in-out !important;
}
*::-webkit-scrollbar{
  display: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}
img, picture {
  width: 100%;
  max-width: 100%;
  max-height: 100% !important;
  object-fit: fill;
  background-position: center;
}
input, button, input:focus, button:focus {
  border-color: transparent;
  outline-color: transparent ;
  cursor: pointer;
}
.container {
  margin: 0 auto;
  max-width: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-short {
  height: calc(100vh - 80px);
  position: sticky;
  top: 60px;
  display: none;
  @media (min-width: 790px) {
    display: block;
  }
  .link {
      @include flex-box(center,center,0);
      flex-direction: column;
      border-radius: $border-r-10;
      text-transform: capitalize; 
      margin: $marging-10;
      padding: $padding-5;
      min-width: fit-content;
    }
    h3 {
        font-size: $font-size-6;
        min-width: fit-content;
        text-align: center;
        font-weight: 300;
     } 

}

.related-keywords {
    position: sticky;
    padding: $padding-10 ;
    top: 55px;
    z-index: 99999;
    .related-container  {
      overflow: auto;
      .taps {
        display: flex;
        gap: 5px;
        width: fit-content;
        li {
            min-width: fit-content;
            text-transform: capitalize;
            border-radius: $border-r-5;
            padding: $padding-5 $padding-10;
            border: 1px solid transparent;
            cursor: pointer;
            font-size: $font-size-6;
            font-weight: 700;
        }
    }
    }
  &.video-pla {
    top: 240px;
    @media (min-width: 330px) {
        top: 245px;
        padding-top: 15px;
        margin-bottom: 0;
    }
    @media (min-width: 360px) {
      top: 270px;
    }
    @media (min-width: 390px) {
      top: 285px;
    }
    @media (min-width: 430px) {
      top: 50px;
    }
  }
} 

.key-loading {
  @include flex-box(center,center,0);
  z-index: 99999;
  * {
    @include position(50%,50%,50px,50px,fixed);
    border-radius: $border-r-full;
    border: 4px solid ;
    border-color: #81808067 transparent transparent transparent;
    animation: key-loading .5s infinite alternate;
  }
}

@keyframes key-loading {
  100% {
    transform: rotate(180deg);
    border-color: #81808067;
  }
}

.absolute {
  position: absolute;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
}

.sort-by {
  padding: $padding-l 0;
  margin-bottom: $margin-l;
  ul {
      @include flex-box;
      li {
          background-color: darken($color: $back-gr-color-light, $amount: 5);
          color: $text-color-dark-l;
          font-size: $font-size-l;
          font-weight: 700;
          padding: $padding-m $padding-l + $padding-m;
          border-radius: 5px;
          text-transform: capitalize;
          cursor: pointer;
          &:hover {
              background-color: darken($color: $back-gr-color-light, $amount: 10);
          }
          &.active {
              background-color: darken($color: $back-gr-color-light, $amount: 15);
              border: 1px solid $text-color-dark-l;
              color: $text-color-dark-m;
          }
      }
  }
  &.dark {
      ul {
          li {
              background-color: lighten($color: $back-gr-color-dark, $amount: 5);
              color: $text-color-light-l;
              &:hover {
                  background-color: lighten($color: $back-gr-color-dark, $amount: 10);
              }
              &.active {
                  background-color:lighten($color: $back-gr-color-dark, $amount: 15);
                  border: 1px solid $text-color-light-l;
                  color: $text-color-light-m;
              }
          }
      }
  }
}
